<div class="container">
  <form class="form-login">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        [(ngModel)]="email"
        id="email"
        name="email"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="email">Senha</label>
      <input
        type="password"
        [(ngModel)]="password"
        id="password"
        name="password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button class="form-control btn btn-primary" (click)="login()">Login</button>
    </div>
  </form>
</div>
